<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="shulictian.ssm.mapper.CommentsMapper">

	<resultMap type="comments" id="CmtMap">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="sendTime" property="sendTime" />
		<association property="user" javaType="user" select="shulictian.ssm.mapper.UserMapper.getUserById" column="user_id">
        </association>
	</resultMap>

	<!-- 储存评论 -->
	<insert id="saveComment" parameterType="map">
		insert into comments (content,top_id,user_id,sendTime) value(#{content},#{topId},#{userId},#{sendTime})
	</insert>

	<!-- 获取帖子对应评论 -->
	<select id="getComments" parameterType="int" resultMap="CmtMap">
		select * from comments where top_id=#{id} order by sendTime desc
	</select>
	
	<!-- 删除此评论 -->
	<delete id="delComment" parameterType="map">
		delete from comments where id=#{id}
	</delete>
	
</mapper>