<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<% if (typeof(title) !== 'undefined') { %>
	<title><%= title %></title>
	<% } else { %>
	<title><%= config.site_title %></title>
	<% } %>

	<% if (config.site_icon) { %>
	<link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
	<% } %>

	<!-- style -->
	<%- loader('/assets/stylesheets/index.min.css','/assets/index.min.js')
	.css('/assets/javascripts/layer/skin/layer.css')
	.css('/assets/stylesheets/reset.css')
	.css('/assets/stylesheets/style.css')
	.done(assets, config.site_static_host, config.mini_assets)
	%>
	<%- loader('/assets/index.min.js','/assets/stylesheets/index.min.css')
	.js('/assets/javascripts/jquery/jquery-2.1.4.min.js')
	.js('/assets/javascripts/layer/layer.js')
	.js('/assets/javascripts/avalon/avalon.modern.min.js')
	.js('/assets/javascripts/custom/jscommon.js')
	.js('/assets/javascripts/custom/validator.js')
	.done(assets, config.site_static_host, config.mini_assets)
	%>
	<meta content="_csrf" name="csrf-param">
	<meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
<%- body %>
</body>
</html>