#content{background:#f5f6f7;font-family:'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;color:#4f4f4f;}
#text{margin:0 auto;width:60%;float:left;}
#text h4{margin:0px;width:10%;height:30px;line-height:30px;color:#4f4f4f;margin:15px 30px;}
#paper{width:96%;margin:auto;margin-top:15px;background-color:#fff;}
#ctx{padding:5px 30px;margin:0px;}
#text a{margin:auto;display:block;width:60px;height:30px;text-align:center;line-height:30px;text-decoration:none;background-color:gray;color:black;margin-bottom:20px;}
#rContent{width:15%;float:left;padding:10px;}
#rContent div{background-color:#fff;}
#lContent{padding:10px 5px;text-align:center;width:15%;float:left;}
#lContent div{background-color:#fff;}
#photo{width:150px;height:150px;border:1px solid;margin:auto;margin-top:30px;}
#name{width:100%;text-align:center;}
#gitText{padding:0px 5px;}
#gitText h6{margin-bottom:5px;font-weight:bold;}
#gitText hr{margin:8px 0px;}
#gitText p{margin-bottom:8px;font-size:14px;}
/* .layui-laydate-footer{display:none;} */
#topList{margin-top:5px;}
#topList h6{padding:5px;background-color:#393D49;margin-top:10px;color:white;}
.topTit{width:100%;text-align:left;padding:5px;}
.topTit p{
		margin:10px 0px;overflow:hidden;
        text-overflow:ellipsis; 
        white-space: nowrap;}
.topTit p a{color:gray;}
.topTit p a:hover{color:#0056b3;text-decoration:none;}
#userName{color:#393D49;}
#userName:hover{color:#0056b3;text-decoration:none;}
#tit2 div{color:gray;}
#btn{border:none;}
#userMsg{font-size:14px;}
#userMsg div{width:45%;text-align:left;}
#gitTit{padding:5px;color:white;font-size:14px;}
#userMsgs{padding:5px;color:white;font-size:14px;}